{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": [
    "airbnb",
    "eslint-config-ts",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": [
    "import",
    "react",
    "prettier",
    "jsx-a11y"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "react/prop-types": "off",
    "import/no-cycle": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "no-useless-escape": "off",
    "react/no-unescaped-entities": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-case-declarations": "off",
    "nonblock-statement-body-position": "off",
    "no-else-return": "off"
  }
}
