{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": [
    "airbnb",
    "eslint-config-ts",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": [
    "import",
    "react",
    "prettier",
    "jsx-a11y"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "react/prop-types": "off",
    "import/no-cycle": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off"
  }
}
