.article {
  background: #fff;
  padding: 15px 14px 24px 19px;
  margin-bottom: 26px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.article-info__header {
  display: flex;
  margin-bottom: 4px;
}

.article-info__likes {
  display: flex;
  align-items: center;
}

.article-info__likes-btn {
  margin-right: 5px;
}

.article-info__title {
  color: #1890ff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-right: 13px;
}

.article-info__text {
  word-wrap: break-word;
  word-break: break-all;
}

.article-info__desc {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.article-user {
  display: flex;
}

.user-info__name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  margin: 0 12px 2px 0;
}

.user-info__update {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.article-user__photo {
  width: 46px;
  height: 46px;
}

.article-user__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
